<!DOCTYPE html>
<html>
  <head>
    <title>♥ Mensagem do Dia ♥</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <p class="message" style="font-size: 18px;">
        Made with <span style="color: red;">♥</span> by Kawan Braz & Gabriel Barbosa
      </p>
    </footer>
  </body>
</html>
